body {
  direction: rtl;
}


/* navbar */
.navbar-nav {
  margin: 0 auto;
}
 .nav-item {
   text-align: center;
   margin-left: 70px;
 }

/* header */
.productsAd {
  height: auto;
  width: 65%;
  margin: 0 auto;
  margin-top: 120px;
  text-align: right;
}

.servicesAd {
  width: 65%;
  margin: 0 auto;
  height: auto;
  margin-top: 80px;
  text-align: right;
}


 .rad-image1 {
   float: left;
   margin-right: 40px;
   max-width: 100%;
 }
 .rad-image2 {
   float: right;
   margin-left: 40px;
   max-width: 100%;
 }

/* contact us */
.contact-div {
  margin: 100px 0 30px;
  width: 100%;
  text-align: center;
}

.icon {
  margin: 25px auto;
}

.contact-info-divs {
  margin: 0 auto;
  line-height: 2;
  text-align: center;
}
/* Footer */
#footer {
  text-align: center;
}
.cpright {
  margin-top: 20px;
}
.foot {
  padding: 5% 15%;
}
 .ic {
   padding: 10px;
 }
/* border div */
.border-div {
  margin: 70px auto 0;
  width: 100px;
  border-top: 15px  dotted #e4f9ff;
}

/* Products Page */
.row {
  margin: 100px auto;
  text-align: right;
}

.item {
  margin-bottom: 30px;
}
.image-container {
  width: 180px;
  height: 210px;
  margin: 0 auto;

}
